@use "../../sass/abstracts/mixins";
@use "../../sass/abstracts/vars";

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
    &__branding {
        &__wordmark {
            width: 100%;
            height: auto;
            padding-top: 1rem;
     }
    }
    &__list {
        list-style-type: none;
        :hover {
            color: vars.$color__primary;
            transition: color .3s;
        }
    }
    &__links {
        text-decoration: none;
    }
    @include mixins.generateMargins();
    @include mixins.generatePaddingClasses();
}