@use "../../sass/abstracts/mixins";
@use "../../sass/abstracts/vars";

.paragraph {
    font-size: .9rem;
    line-height: 1.4rem;
    &.italic {
        font-family: vars.$font__primary;
        font-style: italic;
    }
    @include mixins.generateMargins();
}