@use "../../sass/abstracts/mixins";
@use "../../sass/abstracts/vars";

.btnui {
    width: 3rem;
    height: 3rem;
    color: vars.$color__primary;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    &.menu {
        @include mixins.breakpoint(laptop) {
            display: none;
        };
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    &.close {
        position: absolute;
        top: 1rem;
        right: 1rem;

    }
}