@use "../../sass/abstracts/vars";
@use "../../sass/abstracts/mixins";

.contact {
    padding-top: 5rem;
    // background-color: limegreen;
    padding-bottom: 20vh;
    @include mixins.breakpoint(laptop) {
        min-height: 100vh;
        display: flex;
        align-items: center;
    };
}
.links {
    color: vars.$color__primary;
    text-decoration: none;
}