@use "../../sass/abstracts/mixins";
@use "../../sass/abstracts/vars";

.nav {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    display: none;
    @include mixins.breakpoint(laptop) {
        display: flex;
    };
    &__branding {
        &__wordmark {
            width: 100%;
            height: auto;
     }
    }
    &__list {
        list-style-type: none;
        :hover {
            color: vars.$color__primary;
            transition: color .3s;
        }
    }
    &__links {
        text-decoration: none;
    }
    @include mixins.generateMargins();
    @include mixins.generatePaddingClasses();
}
.socialList {
    display: flex;
    gap: 1rem;
}