@use "../../sass/abstracts/mixins";
@use "../../sass/abstracts/vars";

.about {
    padding-bottom: 5rem;
    // background-color: pink;
    @include mixins.breakpoint(laptop) {
        min-height: 100vh;
        display: flex;
        align-items: center;
    };
    &__link {
        color: vars.$color__primary;
        text-decoration: none;
    }
}
.headshot {
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
}